body{
    background-color: #2F4F4F;
}
h1 {
    color: white;
    text-align: center;
}
#tablazat {
    width: 640px;
    background-image: url(./hatter.jpg);
    background-repeat: repeat;
    margin: 0 auto 0 auto;
}
.szoveg {
    font-size: larger;
}
#k1{
    border: 1px solid black;
    width: 200px;
}
#k2{
    border: 1px solid black;
    float: right;
    margin-right: 30px;
}
#link{
    color: black;
}